<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ABM Usuarios - Administrador</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a href="/" type="button" class="btn btn-default navbar-btn navbar-right" id="buttonSignOut">Cerrar Sesión</a>
          <form class="navbar-form navbar-right">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar usuario">
            <span class="input-group-btn">
              <button class="btn btn-default maincolor1 maincolor1hover" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Ver listado <span class="sr-only">(current)</span></a></li>
            <li><a href="adminAdd">Añadir usuario</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Listado de usuarios</h1>
          <div class="table-responsive">
            <table class="table table-striped center">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo Electrónico</th>
                  <th>Teléfono</th>
                  <th>Edad</th>
                  <th>Foto</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                  <td>{{lastName}}</td>
                  <td>{{email}}</td>
                  <td>{{phone}}</td>
                  <td>{{age}}</td>
                  <td><a href={{photo}}>Ver foto</td>
                  <td>
                    <div class="btn-group" role="group">
                      <a href=/adminMod/{{id}} type="submit" id={{id}} class="btn btn-warning" title="Modificar Usuario">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      </a>
                      <button type="button" name="user{{id}}" id={{id}} class="btn btn-danger" data-toggle="modal" data-target="#ConfirmDeleteModal" title="Eliminar Usuario">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                      </button>
                    </div>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div name="{{id}}" class="modal fade" id="ConfirmDeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Confirmar eliminación de usuario</h4>
          </div>
          <div class="modal-body">
            ¿Estás seguro que deseas eliminar el usuario?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger ">Confirmar</button>
          </div>
        </div>
      </div>
    </div>