<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ABM Usuarios - Administrador</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a href="/" type="button" class="btn btn-default navbar-btn navbar-right" id="buttonSignOut">Cerrar Sesión</a>
          <form method="GET" action="/admin" class="navbar-form navbar-right">
            <div class="input-group">
            <input name="s" type="text" class="form-control" placeholder="Buscar usuario" data-toggle="tooltip" data-placement="bottom" title="Correo Electrónico">
            <span class="input-group-btn">
              <button class="btn btn-default maincolor1 maincolor1hover" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/admin">Ver listado <span class="sr-only">(current)</span></a></li>
            <li><a href="/adminAdd">Agregar usuario</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Listado de usuarios</h1>
          <div class="table-responsive">
            <table class="table table-striped center">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Correo Electrónico</th>
                  <th>Teléfono</th>
                  <th>Edad</th>
                  <th>Foto</th>
                  <th data-toggle="tooltip" data-placement="left" title="Modificar / Eliminar">Acciones</th>
                </tr>
              </thead>
              <tbody>
                {{#each data}}
                <tr>
                  <td>{{id}}</td>
                  <td>{{name}}</td>
                  <td>{{lastName}}</td>
                  <td>{{email}}</td>
                  <td>{{phone}}</td>
                  <td>{{age}}</td>
                  <td><a href={{photo}}>Ver foto</td>
                  <td>
                    <div class="btn-group" role="group">
                      <a href="/adminMod/{{id}}" type="submit" class="btn btn-warning" title="Modificar Usuario">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                      </a>
                      <button type="button" class="btn btn-danger title="Eliminar Usuario" data-toggle="modal" data-target="#modalConfirmDelete{{id}}">
                        <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                      </button>
                    </div>
                  </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="modalConfirmDelete{{id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel{{id}}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel{{id}}">Eliminar usuario</h4>
                            </div>
                            <div class="modal-body">
                                ¿Estás seguro que deseas eliminar al usuario {{email}}?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                <a href="/adminRem/{{id}}" type="button" class="btn btn-danger">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
