<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ABM Usuarios - Administrador</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <a href="/" type="button" class="btn btn-default navbar-btn navbar-right" id="buttonSignOut">Cerrar Sesión</a>
          <form method="GET" action="/admin" class="navbar-form navbar-right">
            <div class="input-group">
            <input name="s" type="text" class="form-control" placeholder="Buscar usuario" data-toggle="tooltip" data-placement="bottom" title="Correo Electrónico">
            <span class="input-group-btn">
              <button class="btn btn-default maincolor1 maincolor1hover" type="submit">
                <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
            </div>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/admin">Ver listado</a></li>
            <li><a href="/adminAdd">Agregar usuario</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Modificar usuario</h1>
          {{#each data}}
          <form method="POST" action="/adminMod" class="form-horizontal">
            <input type="hidden" value="{{id}}" name="inputId">
            <div class="form-group">
              <label for="inputNombre" class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="inputNombre" id="inputNombre" placeholder="Nombre del usuario" value={{name}}>
              </div>
            </div>
            <div class="form-group">
              <label for="inputApellido" class="col-sm-2 control-label">Apellido</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="inputApellido" id="inputApellido" placeholder="Apellido del usuario" value={{lastName}}>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail" class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="inputEmail" id="inputEmail"  placeholder="Email del usuario" value={{email}}>
              </div>
            </div>
            <div class="form-group">
              <label for="inputContrasena" class="col-sm-2 control-label">Contraseña</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="inputContrasena" id="inputContrasena" placeholder="Contraseña del usuario" value={{password}}>
              </div>
            </div>
            <div class="form-group">
              <label for="inputTelefono" class="col-sm-2 control-label">Teléfono</label>
              <div class="col-sm-10">
                <input type="number" class="form-control" name="inputTelefono" id="inputTelefono" placeholder="Teléfono del usuario" value={{phone}}>
              </div>
            </div>
            <div class="form-group">
              <label for="inputFechaNac" class="col-sm-2 control-label">Fecha de nacimiento</label>
              <div class="col-sm-10">
                <input type="date" class="form-control" name="inputFechaNac" id="inputFechaNac" placeholder="Fecha de nacimiento del usuario" value={{birthday}}>
              </div>
            </div>
            <div class="form-group">
              <label for="inputFoto" class="col-sm-2 control-label">Foto</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="inputFoto" id="inputFoto" placeholder="Foto del usuario" value={{photo}} data-toggle="tooltip" data-placement="bottom" title="URL de la foto">
              </div>
            </div>            
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-warning">Modificar</button>
                <a href="/admin" class="btn btn-default">Cancelar</a>
              </div>
            </div>
          </form>
          {{/each}}
        </div>
      </div>
    </div>